@charset "UTF-8";
body {
    background-color: #EEFFF6;
	color: #6DA285;
}

h1 {
    background-color: #EEFFF6;
	color: #6DA285;
}

h2 {
    background-color: #EEFFF6;
	color: #6DA285;
}

p {
    background-color: #EEFFF6;
	color: #6DA285;
} /* CSS Document */

